<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vodafone.mycomms" >

    <!-- *********** -->
    <!-- Permissions -->
    <!-- *********** -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- GCM -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name=".permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name=".permission.C2D_MESSAGE" />

    <!-- *********** -->
    <!-- Appl -->
    <!-- *********** -->
    <application
        android:name=".MycommsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="5ff28bd1f7390464604822907b5a1dc19845d74c" />

        <activity
            android:name=".main.DashBoardActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.NewsDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ContactListMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".main.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="@string/app_scheme" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginSignupActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".login.SignupMailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name=".login.SignupNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name=".login.SignupPassActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name=".login.SignupPhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name=".login.SignupPincodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name=".login.SignupCompanyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name=".contacts.detail.ContactDetailMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".util.ToolbarActivity"
            android:label="@string/title_activity_toolbar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".login.MailSentActivity"
            android:label="@string/title_activity_mail_sent"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".login.SignupTypeChooseActivity"
            android:label="@string/title_activity_signup_type_choose"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name=".settings.SettingsMainActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name=".login.ForgotPassActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" >
        </activity>
        <activity
            android:name=".chatlist.view.ChatListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".login.OAuthActivity"
            android:label="@string/title_activity_oauth_web"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".settings.VacationTimeSetterActivity"
            android:label="VACAAAAAATTTIIOOONNTIMMEEEEE"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".settings.AboutActivity"
            android:label="@string/about_my_comms"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" >
        </activity>
        <activity
            android:name=".chatgroup.GroupChatListActivity"
            android:label="@string/title_activity_group_chat"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".chatgroup.GroupChatActivity"
            android:label="@string/title_activity_group_chat"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".chatgroup.GroupDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".chatgroup.FullscreenImageActivity"
            android:label="@string/title_activity_fullscreen_image"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".settings.globalcontacts.AddGlobalContactsActivity"
            android:label="@string/title_activity_add_global_contacts"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- Receiver for push notifications -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="." />
            </intent-filter>
        </receiver>

        <!-- Service for push notifications -->
        <service
            android:name=".services.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </service>

        <activity
            android:name=".contacts.detail.ContactDetailsPlusActivity"
            android:label="@string/title_activity_contact_details_plus" >
        </activity>
    </application>

</manifest>
