<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vodafone.mycomms" >

    <!-- *********** -->
    <!-- Permissions -->
    <!-- *********** -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- *********** -->
    <!-- Appl -->
    <!-- *********** -->
    <application
        android:name=".MycommsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".login.Login1Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".login.LoginSignupActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.SignupMailActivity"
            android:label="@string/title_activity_signup_mail" >
        </activity>
        <activity
            android:name=".login.SignupNameActivity"
            android:label="@string/title_activity_signup_name" >
        </activity>
        <activity
            android:name=".login.SignupPassActivity"
            android:label="@string/title_activity_singup_pass" >
        </activity>
        <activity
            android:name=".login.SignupPhoneActivity"
            android:label="@string/title_activity_signup_phone" >
        </activity>
        <activity
            android:name=".login.SignupPincodeActivity"
            android:label="@string/title_activity_pincode" >
        </activity>
    </application>

</manifest>
